.form{
    height:60vh;
    padding: 200px 0px;
    display: flex;
    text-align: center;
    align-items: center;
    background: url('../../Images/bannerbackground.png') no-repeat  ;
    background-size: cover;
}
a{
    text-decoration: none;
}